{% load extras %}

{% if components_list %}
{% for component in components_list %}

<div class="component-icon">
<div>
                        {% if component|get_class == 'move_command' or component|str == 'move_command' %}
                        <span class='program-box glyphicon glyphicon-move'></span>
                        {% endif %}

                        {% if component|get_class == 'say_command' or component|str == 'say_command' %}
                        <span class='program-box glyphicon glyphicon-comment'></span>
                        {% endif %}

                        {% if component|get_class == 'wait_command' or component|str == 'wait_command' %}
                        <span class='program-box glyphicon glyphicon-time'></span>
                        {% endif %}
    </div>
<div class="component-name-div">{{component.name}}</div>
</div>

    {% endfor %}
{% else %}
No components
{% endif %}