{% if descriptions_list %}
{% for description in descriptions_list %}

<div class="step-div">
    <div class="row">
    <div class="step-number col-md-1"> {{forloop.counter}}. </div>
    <div class="step-name col-md-10"><input type="text" class="form-control step-name-text"  placeholder="Step name" value="{{description.step_name}}"></div>
    <div class="step-delete col-md-1"><span class=" glyphicon glyphicon-remove"> </span></div>
    </div>

    <div class="step-description-div">
        <textarea class="form-control step-description"rows="1">{{description.step_description}}</textarea>
    </div>
</div>


{% endfor %}
{% endif %}


<div class="step-div inactive">
    <div class="row">
    <div class="step-number col-md-1"> {{ forloop.counter|default:1 }}. </div>
    <div class="step-name col-md-10"><input type="text" class="form-control" id="step-name" placeholder="Step name"></div>
    <div class="step-delete col-md-1"><span class=" glyphicon glyphicon-remove"> </span></div>
    </div>

    <div class="step-description-div">
        <textarea class="form-control step-description"rows="1"></textarea>
    </div>
</div>