{% load extras %}

{% if states_list %}
{% for states_for_step in states_list %}
    <div class='program-step'>
        {% if states_for_step|length < 1 %}
        <center>(EMPTY STEP)</center>
        {% else %}
            {% for state in states_for_step %}


                {% if state|get_class == 'MetaState' %}
        <div class="metastate">
                    <span class='metastate-id program-box glyphicon glyphicon-step' uid="{{state.uID}}"> {{state.ID}} </span>
                <div class="metastate-container">
                    {% for sub_state in state.states %}
                    {% with state=sub_state %}
                         {% include "translator/formal_description_state_noid.html" %}
                    {% endwith %}

                    {% endfor %}
                </div>
            </div>

                {% else %}
                    {% with show_id=1 %}
                    {% include "translator/formal_description_state_noid.html" %}
                    {% endwith %}
                {% endif %}


            {% endfor %}
        {% endif %}
    </div>
{% endfor %}
{% endif %}
