{% load extras %}

{% if steps_list %}
{% for step in steps_list %}
    <div class='program-step'>
        {% if step|length < 1 %}
        <center>(EMPTY STEP)</center>
        {% else %}
            {% for substep in step %}
                <div class="substep-div">
                <span class='program-box glyphicon glyphicon-step'> {{substep.ID}} </span>

                <!--Conditions-->
                {% if substep.condition|length > 0 %}
                    {% for condition in substep.condition %}
                        <span class='program-box glyphicon glyphicon-button-input' title='{{condition}}'>{{condition.params.button}}</span>
                    {% endfor %}
                {% endif %}

                <!--Arrow-->
                <span class='arrow-box glyphicon glyphicon-arrow-right'></span>

                <!--Commands-->
                {% if substep.commands|length > 0 %}
                    {% for command in substep.commands %}
                        {% if command|get_class == 'move_command' %}
                        <span class='program-box glyphicon glyphicon-move' title='{{command}}'></span>
                        {% endif %}

                        {% if command|get_class == 'say_command' %}
                        <span class='program-box glyphicon glyphicon-comment' title='{{command}}'></span>
                        {% endif %}

                        {% if command|get_class == 'wait_command' %}
                        <span class='program-box glyphicon glyphicon-time' title='{{command}}'></span>
                        {% endif %}

                        {% if command|get_class == 'unrecognised_component' %}
                        <span class='program-box glyphicon glyphicon-question-sign' title='{{command}}'></span>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if substep.next_ID != -1 %}
                <span class='arrow-box glyphicon glyphicon-arrow-right'></span>
                <span class='program-box glyphicon glyphicon-step'>{{substep.next_ID}}</span>
                {% endif %}


                    <div class="substep-buttons">
                        <button type="button" class="btn btn-edit-substep" title="Edit this substep">...</button>
                        <button type="button" class="btn btn-remove-substep" title="Remove this substep">X</button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}
{% endif %}
