{% if descriptions_list %}
{% for description in descriptions_list %}

{% if forloop.counter ==  descriptions_list|length %}
<div class="step-div inactive">
{% else %}
<div class="step-div">
{% endif %}
    <div class="row">
    <div class="step-number col-md-1"> {{forloop.counter}}. </div>
    <div class="step-name col-md-10"><input type="text" class="form-control step-name-text"  placeholder="Step name" value="{{description.step_name}}"></div>
    <div class="step-delete col-md-1"><span class=" glyphicon glyphicon-remove" title="Delete step"> </span></div>
    </div>

    <div class="row">
        <div class="step-number col-md-1">  </div>
    <div class="step-description-div col-md-10">
        <textarea class="form-control step-description"rows="1">{{description.step_description}}</textarea>
    </div>
        <div class="step-number col-md-1"><span class=" glyphicon glyphicon-book" title="Available robot actions"> </span> </div>
    </div>
</div>




{% endfor %}

    {% else %}
    <div class="step-div inactive">
         <div class="row">
    <div class="step-number col-md-1"> 1. </div>
    <div class="step-name col-md-10"><input type="text" class="form-control step-name-text"  placeholder="Step name" value="{{description.step_name}}"></div>
    <div class="step-delete col-md-1"><span class=" glyphicon glyphicon-remove" title="Delete step"> </span></div>
    </div>

    <div class="row">
        <div class="step-number col-md-1"></div>
    <div class="step-description-div col-md-10">
        <textarea class="form-control step-description"rows="1">{{description.step_description}}</textarea>
    </div>
        <div class="step-number col-md-1">  <span class=" glyphicon glyphicon-book" title="Available robot actions"> </span></div>
    </div>
</div>
{% endif %}
