{% extends "theme_bootstrap/base.html" %}
{% block nav %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



<ul class="nav navbar-nav navbar-left">
<li><a href="#">Link 1</a>
<li><a href="#">Link 2</a>
</ul>

{% endblock %}

{% block body %}
<style>

    body { padding-top: 70px; }

</style>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1>Profile</h1>
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive img-rounded">
            <div>

            <h2> {{ request.user }}</h2>
            <ol>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ol>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <a class="btn btn-block btn-default">Change password</a>
                <a class="btn btn-block btn-danger">Delete account</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h1>Scenarios</h1>

              {% for s in  scenarios %}
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                <div class="media-body">
                  <h4 class="media-heading">Scenario heading</h4>
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                    tempus viverra turpis.</p>
                </div>
              </li>
            </ul>
              {% endfor %}
          </div>
          <div class="col-md-4">
            <h1>Library</h1>
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading</h4>
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                    tempus viverra turpis.</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading</h4>
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                    ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                    tempus viverra turpis.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{%  block footer %}

        <div class="container">
            <hr>
            <footer>
                <p>&copy; Myself, 2014</p>
            </footer>
        </div>

{% endblock %}